.backgroundDisabled{
    background-color:rgba(0, 0, 0, 0.5) !important ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2 !important
}
.containerButtons{
    width: 200px;
    display: flex;

    justify-content: space-between;
}