.containerPrincipal{
    min-height: 50vh;
    min-width: 600px;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 5px 5px 25px;
    position: fixed; /* Position fixed para centrar el popup */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #000;
    z-index: 3;
}
.containerTitle{
    text-align: center;
    padding: 5px;
}
.containerData{
    margin-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.containerForm{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerButton{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    width: 79%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.containerButton button{
    width: 8vw;
}


.alergenosDropdown {
    position: relative;
  }
  
  .alergenosList {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 10;
  }
  
  .alergenoOption {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  .alergenoOption input {
    margin-right: 10px;
    height: 30px;
  }

  .blockOne{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.blockTwo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
}
#habilitado{
    margin-left: -100px;
}