.containerPrincipal{
    min-height: 50vh;
    min-width: 25vw;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 5px 5px 25px;
     position: fixed; /* Cambio para que el pop-up siempre este centrado */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #000;
    z-index: 3; 
}
.containerTitle{
    text-align: center;
    padding: 5px;
}
.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    padding: 2vh;
}
.containerButtons{
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 2vh;
   
}